<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      Users List
    </h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @users.each do |user| %>
          <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>
  </div>
</div>

